.container
  position: relative
  min-width: 325px
  margin: 0 auto
  padding: 0 25px
  line-height: 1.5
  font-family: 'Baloo', $font_gothic

.title
  margin: 10px auto
  font-size: 3.0rem

#game-canvas
  display: block
  margin: 10px auto

#next-canvas
  display: block
  box-shadow: #ccc 0 0 10px 5px
  position: absolute
  top: 0
  right: 0
