extends layout/_default

append ConfigBlock
  - page_name = ''

prepend JavascriptBlock

block ContentBlock
  div.container
    h1.title= title
    canvas#game-canvas(width="375" height="750")
    canvas#next-canvas(width="100" height="100" style="display:none")

    p
      button.js-music-button(type="button") ♪
    ul
      li エンターキーで止まります
      li いい感じのところで「♪」ボタンを押してください
